<span>{{language.language}}</span>
<span>Description:</span>
<textarea onchange={{action 'getdescription' value='target.value'}}>{{language.description}}</textarea>
<button onclick={{action 'changelanguage'}}>Изменить</button>