<div class="row">
  <div class="col-xs-4">
    {{#link-to 'index'}}
      <h2>Словарь</h2>
    {{/link-to}}
  </div>
  <div class="col-xs-6 row">
    {{#link-to 'languages' class='btn btn-default btn-md' role="button"}}Языки{{/link-to}}
    {{#link-to 'dialects' class='btn btn-default btn-md' role="button"}}Диалекты{{/link-to}}
    {{#link-to 'slangs' class='btn btn-default btn-md' role="button"}}Сленги{{/link-to}}
    {{#link-to 'symbols' class='btn btn-default btn-md' role="button"}}Символы{{/link-to}}
    {{#if user.view.admin}}
      {{#link-to 'users' class='btn btn-default btn-md' role="button"}}Пользователи{{/link-to}}
    {{/if}}
  </div>
  <div class="col-xs-2">
    {{#if user}}
      <button class='btn btn-default btn-md' role="button" {{action 'logout'}}>Выход ({{user.view.username}})</button>
    {{else}}
      {{#link-to 'signin' class='btn btn-default btn-md' role="button"}}Вход{{/link-to}}
      {{#link-to 'signup' class='btn btn-default btn-md'}}Регистрация{{/link-to}}
    {{/if}}
  </div>
</div>
