<div class="row">
  <div class="col-xs-9">
    {{#link-to 'index'}}
      <h2>Kurs_bd</h2>
    {{/link-to}}
  </div>
  <div class="col-xs-3">
    {{#link-to 'signin' class='btn btn-default btn-md' role="button"}}Sign In{{/link-to}}
    {{#link-to 'index' class='btn btn-default btn-md'}}Sign Up{{/link-to}}
  </div>
</div>
