<div class="row">
  <div class="col-xs-9">
    <h2>Kurs_bd</h2>
  </div>
  <div class="col-xs-3">
    <button class="col-xs-5 btn btn-default">Sign In</button>
    <button class="col-xs-5 col-xs-offset-1 btn btn-default">Sign Up</button>
  </div>
</div>
