<div class="row">
  <div class="col-xs-4">
    {{#link-to 'index'}}
      <h2>Kurs_bd</h2>
    {{/link-to}}
  </div>
  <div class="col-xs-6 row">
    {{#link-to 'languages' class='btn btn-default btn-md' role="button"}}Languages{{/link-to}}
    {{#link-to 'dialects' class='btn btn-default btn-md' role="button"}}Dialects{{/link-to}}
    {{#link-to 'slangs' class='btn btn-default btn-md' role="button"}}Slangs{{/link-to}}
    {{#link-to 'symbols' class='btn btn-default btn-md' role="button"}}Symbols{{/link-to}}
  </div>
  <div class="col-xs-2">
    {{#if user}}
      <button class='btn btn-default btn-md' role="button" {{action 'logout'}}>Logout ({{user.view.username}})</button>
    {{else}}
      {{#link-to 'signin' class='btn btn-default btn-md' role="button"}}Sign In{{/link-to}}
      {{#link-to 'signup' class='btn btn-default btn-md'}}Sign Up{{/link-to}}
    {{/if}}
  </div>
</div>
