<span>{{word.word}}</span>
<span>Dialect:</span>
<select class="changeword__select_dialects" onchange={{action 'getdialect' value="target.value"}}>
</select>
<span>Slang:</span>
<select class="changeword__select_slangs" onchange={{action 'getslang' value="target.value"}}>
</select>