{{input value=slang class='createslang__inputslang' placeholder='new slang' type="text"}}
<span>Description:</span>
<textarea onchange={{action 'getdescription' value='target.value'}}></textarea>
<button onclick={{action 'createslang' }}>Создать</button>