{{#if user.view.moderator}}
  <button>Create dialect</button>
{{/if}}
<table class="table table-hover">
  <thead>
  <tr>
    <th>Dialect</th>
    <th>Language</th>
    <th>Description</th>
    {{#if user.view.moderator}}
      <th>Manage</th>
    {{/if}}
  </tr>
  </thead>
  <tbody>
  {{#if dialects}}
    {{#each dialects as |dialect|}}
      <tr class="">
        <td>{{dialect.dialect}}</td>
        <td>{{dialect.language}}</td>
        <td>{{dialect.description}}</td>
        {{#if user.view.moderator}}
          <td>
            <button>Change</button>
            <button>Delete</button>
          </td>
        {{/if}}
      </tr>
    {{/each}}
  {{else}}
    <h2 align="middle">Loading...</h2>
  {{/if}}
  </tbody>
</table>