<table class="table table-hover">
  <thead>
  <tr>
    <th>Slang</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  {{#if slangs}}
    {{#each slangs as |slang|}}
      <tr class="">
        <td>{{slang.slang}}</td>
        <td>{{slang.description}}</td>
      </tr>
    {{/each}}
  {{else}}
    <h2 align="middle">Loading...</h2>
  {{/if}}
  </tbody>
</table>